:root {
    --bg-col: rgb(37, 37, 37);
    --font: lightgrey;
    --nav-bg: black;
    --bar1-bg: rgb(27, 27, 27);
    --bar2-bg: rgba(255, 255, 255, 0);
    --srchBar-bg: rgb(17, 17, 17);
    --primary-bg-1: rgb(51, 51, 51);

    --msg-spch-left: rgb(52, 52, 52);
    --msg-spch-right: #2a5545;

    --msg-spch-left-h: rgb(60, 59, 59);
    --msg-spch-right-h: #305d4d;

    --bg-accent: #39765f80;
    --bg-accent-h: #39765f33;
}
