*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    color: var(--font);
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Msg Colors  */

:root {
    --msg-spch-left: rgb(52, 52, 52);
    --msg-spch-right: #2a5545;

    --msg-spch-left-h: rgb(60, 59, 59);
    --msg-spch-right-h: #305d4d;

    --bg-accent: #39765f80;
    --bg-accent-h: #39765f33;
}
