body {
    background-color: var(--bg-col);
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.gridCenter {
    place-items: center;
}
.col {
    flex-direction: column;
}
.flexCenter {
    justify-content: center;
    align-items: center;
}
.flexBetween {
    justify-content: space-between;
    align-items: center;
}
.flexAround {
    justify-content: space-around;
    align-items: center;
}

/* God Damn Ripple */
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 300ms linear;
    background-color: rgba(255, 255, 255, 0.095);
}
@media screen and (max-width: 600px) {
    span.ripple {
        display: none;
    }
}

@keyframes ripple {
    to {
        transform: scale(1);
        opacity: 0;
    }
}

/* A quick snippets for theme swaping btns */
.dark-th-btn {
    border: 2px solid rgb(79, 79, 79);
    background-color: rgb(36, 36, 36);
}
.light-th-btn {
    border: 2px solid rgb(186, 186, 186);
    background-color: rgb(144, 144, 144);
    color: black;
}
.green-th-btn {
    border: 2px solid rgb(87, 200, 111);
    background-color: rgb(58, 119, 69);
}
.blue-th-btn {
    border: 2px solid rgb(94, 133, 159);
    background-color: rgb(54, 90, 104);
}
.moonlight-th-btn {
    border: 2px solid rgb(79, 79, 79);
    color: white;
}
.moonlight-th-btn > span {
    position: relative;
    z-index: 999;
}
