body {
    background-color: var(--bg-col);
}

.flex {
    display: flex;
}
.grid {
    display: grid;
}
.gridCenter {
    place-items: center;
}
.col {
    flex-direction: column;
}
.flexCenter {
    justify-content: center;
    align-items: center;
}
.flexBetween {
    justify-content: space-between;
    align-items: center;
}
.flexAround {
    justify-content: space-around;
    align-items: center;
}

/* God Damn Ripple */
span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 300ms linear;
    background-color: rgba(255, 255, 255, 0.095);
}
@media screen and (max-width: 600px) {
    span.ripple {
        display: none;
    }
}

@keyframes ripple {
    to {
        transform: scale(1);
        opacity: 0;
    }
}
